.theme-default-content pre[class*="language-"] code {
  color #2C3E50
}

div[class*="language-"]::before {
  color #2C3E5033
}

.token.punctuation {
  color #999393
}

.navbar {
  box-shadow: 0px 0px 10px #ccc;
}

